@import 'https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin-ext';

/** TOFIXED **/
/* zindex
background 'cover' fixed
*/



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 1.1vw;
  overflow-x: hidden;
}

nav {
  margin-right: 20%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One', sans-serif;
}
h3{
  font-size: 3em;
  line-height: 2em;
  color:  #9cb2d9;
}

p{
  font-size: 1.3em;
  text-align: justify;
  margin-right: 16%;
  margin-left: 3%;
  color: #333333;
}


#p1p3{
  text-align: justify;
  margin-left: 2%;
}
#p1p1{
  text-align: justify;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

.fenetre1 {
  position: relative;
  top: 3510px;
  left: 0% ;
  display: inline-block;

}
.test {
  position: absolute;
  top: 3vw;
  width: 12vw;
  left: 11%;
  height: 50px;
  background-color: #402405;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 1px 1px 50px #555;
}
.test:hover {
  cursor: pointer;
}
.confirm {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 18px;
  top: 11px;
  font-size: bold;
  position: absolute;
}

.search {
  position: absolute;
  top: 2vw;
  width: 200px;
  left: 40vw;

}

.resultats {
  left: 2000px;
  position: absolute;
  bottom: 0px;
}


/**** MENU ***/
.main-nav { /* positionnement du menu */
  font-family: 'Fjalla One', sans-serif;
  background-color: #ffffff;
  width: 100%;
  text-align: 50px;
  position: absolute;
  z-index: 999;
  padding: 10px;
  opacity: 0.8;
}

.main-nav  ul li{
  display: inline;
  list-style-type: none;
  float: left;
}

.main-nav  ul li a{ /*menu : espace, sans surlignement, couleur*/
  padding: 1.5vh;
  text-decoration: none;
  color: #9cb2d9;
  display: inline;
}

.main-nav  ul li:hover{ /*Code couleur transition menu hover*/
 /*A CHANGER ++++++++++++++++++++++++++++++++++++*/
  transition: all 1s;
}

#home{
  background: linear-gradient(-45deg, #f7d5d4, #9cb2d9);
  background-size: cover;
  background-attachment: fixed;
  padding: 1vh;
  width: 100%;
  min-height: 300px;
  height: 600vh;
  position:absolute;
}

#home h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 12vh;
  text-align: center;
  margin: 5vh;
  color: #ffffff;
  text-shadow: 1px 1px 2px ;
}
.box-container {
  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.box-section{
  z-index: 1;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 130vh;
  position:absolute;
}


#histoire{
  color:black;
  width: 65%;
  height: auto;
  padding: 3%;
  margin-top: -10vh;
  margin-left: 0vw;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 12px #555;
  z-index: 300;
  border-radius: 3px;
}

#boxmusic{
  position: absolute;
  z-index: 2vh;
  float: right;
  top: 30vh;
  margin-right: 15vw;
  width: 35%;
  height: auto;
  padding: 2vh;
  margin-left: 55vw;
  color:white;
  text-align: center;
  background: #AD130C;

  overflow: hidden;
  box-shadow: 1px 1px 12px #555;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 3px;
}


#box2{
  color:black;
  width: 50vw;
  height: 150vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: -10vh;
  margin-left: 20vw;
  text-align: center;
  background: #F8F1F1;
  box-shadow: 1px 1px 50px #555;
  z-index: 300;
  border-radius: 5px;
}
#boxmusic2{
  color:white;
  width: 35vw;
  height: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 27vw;
  text-align: center;
  background: #643E15;
  z-index: 500;
  margin-top: -45vh;
  box-shadow: 1px 1px 12px #555;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#boxmusic2-1{
  color:white;
  width: 35vw;
  height: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 27vw;
  text-align: center;
  background: #643E15;
  z-index: 500;
  margin-top: 14vh;
  box-shadow: 1px 1px 12px #555;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#boxmusic2-2{
  color:white;
  width: 35vw;
  height: 10vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 27vw;
  margin-top: 110vh;
  text-align: center;
  background: #643E15;
  z-index: 500;
  box-shadow: 1px 1px 12px #555;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

#un{}
#deux{top:240vh;}
#trois{top: 500vh;}
#quatre{top: 700vh;}
/*#deux{
  height: 160vh;
  position:absolute;
  margin-top: 340vh;
}*/

/* CSS VERO FOR PLAYLIST */
.player-container {height: auto;}
.player-container img{height: 150px;}
.musiclist ul{
  display: inline-block;
  width: 65%;
  float: left;
}
.musiclist li{
  display: block;
  height: 100%;
  list-style: none;
}
.musiclist li:last-child {
  padding-top: 20px;
}
.container-piste{
  display: block;
  height: 125px;
}
.container-piste img{
  height: 100%;
  float: left;
}
.media_player{
  width: 100%;
}
.track{
  width: 100%;
}
.title{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
/* fin vero css */
