@import 'https://fonts.googleapis.com/css?family=Fjalla+One&subset=latin-ext';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  font-size: 1.1vw;
  overflow-x: hidden;
}

a{text-decoration: none;}
li{list-style: none;}
nav {
  padding-left: 20px;
    position: fixed;
    height: 80px;
    top: 0;
    display: block;
    /*background: rgba(156, 178, 217, 0.7);*/
    width: 100%;
    z-index: 999;
}
nav li{
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  height: 80px;
  background: #9cb2d9;
  top: 0;
  position: relative;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid, 1px, #ffffff;
}
nav a{
  text-decoration: none;;
  color: #FFFFFF;
  opacity: inherit;
  line-height: 2em;
  padding-bottom: 10px;
}
nav a:hover{
  border-bottom: 3px solid;
  padding-bottom: 10px;
  transition: all 25ms;
}
nav li:hover{ /*Code couleur transition menu hover*/
 /*A CHANGER ++++++++++++++++++++++++++++++++++++*/
 background-color:  #f7d5d4;
  transition: all 1s;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One', sans-serif;
}
h3{
  font-size: 3em;
  line-height: 2em;
  color:  #9cb2d9;
}

p{
  font-size: 1.3em;
  text-align: justify;
  margin-right: 16%;
  margin-left: 3%;
  color: #333333;
}

.fenetre1 {
  position: relative;
  top: 290vh;
  left: 0% ;
  display: inline-block;
}
.test {
  position: absolute;
  top: 3vw;
  width: 12vw;
  left: 11%;
  height: 50px;
  background-color:  #f7d5d4;
  border-radius: 3px;
  border: 1px solid white;
  box-shadow: 1px 1px 50px #555;
}
.test:hover {
  cursor: pointer;
}
.confirm {
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 18px;
  top: 11px;
  font-size: bold;
  position: absolute;
}
.search {
  position: absolute;
  top: 2vw;
  width:50vw;
  margin: 0 25%;
}
#gsc-iw-id1{border: none  !important;}
input.gsc-search-button,
input.gsc-search-button:hover,
input.gsc-search-button:focus {
    border-color: #666666 !important;
    padding: 10px !important;
    background-color: #9cb2d9 !important;
    background-image: none !important;
    filter: none !important;
    width: 50px !important;
    height: 50px !important;
    border-radius: 10px !important;
    border: none  !important;
  }

.resultats {
  left: 2000px;
  position: absolute;
  bottom: 0px;
}

#background{
  background: linear-gradient(-45deg, #f7d5d4, #9cb2d9);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 300vh;
  position:absolute;
}

#background h1{
  font-family: 'Fjalla One', sans-serif;
  font-size: 12vh;
  font-weight: 500;
  text-align: center;
  margin: 20vh;
  color: #ffffff;
  text-shadow: 1px 1px 2px ;
}
.box-container {
  position: absolute;
  width: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.box-section{
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  position:absolute;
}

#un{top:85vh;}
#deux{top:220vh;}
#trois{top: 270vh;}

#histoire{
  color:black;
  width: 65vw;
  height: auto;
  padding: 3%;
  margin-left: 0vw;
  text-align: center;
  background: white;
  box-shadow: 1px 1px 12px #555;
  border-radius: 3px;
}

#boxmusic{
  position: absolute;
  float: right;
  top: 30vh;
  margin-right: 15vw;
  width: 35vw;
  height: auto;
  padding: 2vh;
  margin-left: 55vw;
  color:white;
  text-align: center;
  background: #AD130C;
  overflow: hidden;
  box-shadow: 1px 1px 12px #555;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 3px;
}

.musicplaylist{
  color:black;
  width: 50vw;
  height: 25vw;
  margin: 0 25%;
  text-align: center;
  background: #F8F1F1;
  box-shadow: 1px 1px 50px #555;
  border-radius: 5px;
}
#mp3_player{
  width: 500px;
  height: 100%;
  background: #000;
  padding: 5px;
  margin: 50px
  auto;
}
#mp3_player > div > audio{
  width: 500px;
  background: #000;
  float: left;
}
#mp3_player > canvas {
  width: 500px;
  height: 90%;
  background: #2CB2A9;
  float: left;
}

.player-container{
    width: 70%;
    padding-left: 10px;
}
.player-container, .image{
  display: inline-block;
  float: left;
}
/* CSS VERO FOR PLAYLIST */
.player-container img{
  height: 150px;
}
.image{width: 30%;}
.container-piste img{
  height: 125px;
  float: left;
}
.player-container ul{
  height: auto;
  display: inline-block;
  float: left;
}
.player-container li{
  display: block;
  height: 100%;
  list-style: none;
  text-align: left;
}
.player-container li:last-child {
  padding-top: 20px;
}
.container-piste{
  display: block;
  height: 125px;
}
.media_player{
  width: 100%;
}
.track{
  width: 100%;
}
.title{
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}
/* fin vero css */
