gitignore

#tous les fiches OSX
*.DS_Store

#fichier images non utilisés
/unUseImg/*
/ignore/*

#fichier .txt et .sh
# ces fichiers ne sont utiles que pour le tri de base
*.sh
*.txt
test.html
diff_sound.html

