body{
  font-family: sans-serif;
  font-size: 1.2vw;
  background: #DEDADA;
}

*{
  padding: 0;
}

/*---------MENU----------*/
#div2{
  background: #AE4337;
  height: 5.3vw;
  width: 100%;
  text-align: 10vw;
  line-height: 5.3vw;
}

#div ul{
  position: fixed;
}

#div2 ul li{
display: inline-block;
list-style-type: none;
margin-left: 1vw;
}

#div2 ul li a{ /*menu : espace, sans surlignement, couleur*/
  padding: 1.5vh;
  text-decoration: none;
  color: white;
  display: inline;
}

/*---------Image sous menu----------*/

.img10-container{
  display: flex;
  flex-wrap: nowrap;
}

.ob{
  width: 67.6vw;
  height: 85vh;
  display: block;
}

.Sarah{
  width: 100%;
  height: 42.5vh;
  margin-top: 0vh;
  display: block;
}

.rachel{
  width: 100%;
  height: 42.5vh;
  display: block;

}

/*---------Titre / Netflix----------*/

.h1h1-container{
  display: flex;
  flex-wrap: nowrap;
}

.hr1{
  margin-top: 10vh;
}

.titre1{
  margin-top: 5vh;
  margin-left: 40vw;
  text-align: center;
  font-family: monospace;
  display: block;
}

#netflix{
  font-family: monospace;
  color: red;
  font-size: 3em;
  margin-left: 1vw;
  margin-top: 3.5vh;
  display: block;
}

/*---------Image de série Netflix----------*/

.bloc1{
  display: flex;
  flex-wrap: nowrap;
}

.marco{
  margin-top: 5vh;
  width: 31vw;
  height: 90vh;
  display: block;
}

.jessica{
  margin-top: 5vh;
  width: 25vw;
  height: 45vh;
  display: block;
}

.daredevil{
  width: 27vw;
  height: 45vh;
  display: block;
}

.orange{
  margin-top: -90vh;
  margin-left: 25vw;
  width: 41.5vw;
  height: 45vh;
  display: block;
}

.sense8{
  margin-left: 25vw;
  width: 22vw;
  height: 45vh;
  display: block;
}

.narcos{
  margin-top: -45vh;
  margin-left: 45vw;
  width: 21.5vw;
  height: 45vh;
  display: block;
}

/*---------Titre / CW----------*/

.hr2{
  margin-top: 5vh;
}

.titre2{
  margin-top: 10vh;
  margin-left: -5vw;
  text-align: center;
  font-family: monospace;
}

#cw{
  font-family: monospace;
  color: green;
  font-size: 7vh;
  margin-left: 51vw;
  margin-top: -11vh;
}

/*---------Serie CW----------*/

.bloc2{
  display: flex;
  flex-wrap: nowrap;
}

.justice{
  margin-top: 10vh;
  width: 47vw;
  height: 95vh;
  display: block;
}

.flash{
  margin-top: -95vh;
  margin-left: 45vw;
  width: 27.5vw;
  height: 47.5vh;
  display: block;
}

.arrow{
  margin-left: 45vw;
  width: 27.5vw;
  height: 47.5vh;
  display: block;
}

.supergirl{
  margin-top: -95vh;
  margin-left: 70vw;
  width: 27.5vw;
  height: 47.5vh;
  display: block;
}

.the100{
  margin-left: 70vw;
  width: 27.5vw;
  height: 47.5vh;
  display: block;
}

/*---------Titre / Actualité / TOP 5...----------*/

.hr3{
  margin-top: 5vh;
}

.titre3{
  margin-top: 7vh;
  text-align: center;
  font-family: monospace;
}

/*---------Top 5----------*/

.box1{
  color: black;
  width: 25vw;
  height: 80vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background: #5E5A5A;
  margin-top: 15vh;
  display: inline-block;
}

#boxtitre1{
  color: white;
  width: 25vw;
  height: 10vh;
  line-height: 4vh;
  border-color: red;
  text-align: center;
  background-color: #282828;
  border-bottom: 0.4vh solid #d32027;
  margin-top: -10vh;
  font-family: monospace;
  letter-spacing: 0.5vw;
  display: inline-block;
}

#pvideo1{
  color: black;
  width: 25vw;
  height: 15vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background: #262222;
  margin-top: 15vh;
  display: inline-block;
}

#pvideo2{
  color: black;
  width: 25vw;
  height: 15vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background: #262222;
  margin-top: 30vh;
  display: inline-block;
}

/*---------New Top----------*/

.box2{
  color: black;
  width: 25vw;
  height: 80vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background: #282828;
  margin-top: 15vh;
  display: inline-block;
}

#boxtitre2{
  color: white;
  width: 25vw;
  height: 10vh;
  line-height: 4vh;
  border-color: red;
  text-align: center;
  background-color: #5E5A5A;
  border-bottom: 0.4vh solid #d32027;
  margin-top: -10vh;
  font-family: monospace;
  letter-spacing: 0.5vw;
  display: inline-block;
}

#pvideo5{
  color: black;
  width: 25vw;
  height: 15vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background: #5E5A5A;
  margin-top: 15vh;
  display: inline-block;
}

#pvideo6{
  color: black;
  width: 25vw;
  height: 15vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  background: #5E5A5A;
  margin-top: 30vh;
  display: inline-block;
}
