body{
  font-family: sans-serif;
  font-size: 1.2vw;
  overflow: hidden;
}
*{
  padding: 0;
  margin: 0;
}
/*--css de la TV--*/
#contenu{
  position: absolute;
  text-align: center;
  left: 25%;
  top: 20%;
}
#bandeau{
    width : 33vw;
    height : 35vh;
    border-radius: 20px;
    background-color: white;
    border: 30px solid;
    z-index: 3;
    margin-left: 3%
}
#bas-ecran{
  margin-top: 2px;
  text-align: center;
  border: 15px solid;
  width: 42vw;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%
}
#explication {
  float: right;
  width: 15vw;
  height: 100%;
  position: absolute;
  display: inline-block;
  font-size: 28px;
  font-weight: embed;
}
/*--css de l'iframe--*/
.iframePosition {
  position: absolute;
  top:3.5vh;
  left: 7.3vh;
  width: 75%;
  height: 75%;
  overflow: hidden;
}

/*---boutons de la future telecommande--*/
.telecommande {
  position: relative;
  height: 40vh;
  width: 30vh;
  background: black;
  border-bottom-right-radius:  30%;
  border-bottom-left-radius:  30%;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.boutonTele1 {
  width: 15vh;
  height: 5vh;
  cursor: pointer;
  border:outset 2px solid #999999; border-radius: 20px;
  background-color: white;
  position: absolute;
  top:1vh;
  left: 7.5vh;
}
.boutonTele1:active{
  border: inset;
}
.boutonTele2 {
  width: 15vh;
  height: 5vh;
  cursor: pointer;
  border:outset 2px solid #999999; border-radius: 20px;
  background-color: white;
  position: absolute;
  top:7.1vh;
  left: 7.5vh;
}
.boutonTele2:active{
  border: inset;
}
.boutonTele3 {
  width: 15vh;
  height: 5vh;
  cursor: pointer;
  border: outset 2px solid #999999; border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 13.2vh;
  left: 7.5vh;
}
.boutonTele3:active{
  border: inset;
}
.boutonTele4 {
  width: 15vh;
  height: 5vh;
  cursor: pointer;
  border:outset 2px solid #999999;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 19.3vh;
  left: 7.5vh;
}
.boutonTele4:active{
  border: inset;
}
.boutonAllumage {
  width: 60vh;
  height: 15vh;
}

.boutonOff {
  width: 60vh;
  height: 15vh ;
}

/*--switch on/off de la telecommande--*/
.onoffswitch {
    position: absolute; width: 15vh;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    top:25.4vh;
    left:7.5vh;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OFF";
    padding-left: 10px;
    background-color: black; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: white; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
